<mat-list>  
    @for (option of menuOptions; track $index; let first = $first; let last = $last) {
        @if(option.subheader == true) {
            @if(!$first) {
                <mat-divider/>
            }
            <div mat-subheader>{{option.name}}</div>
        } @else {
            <mat-list-item [routerLink]="option.routerLink" routerLinkActive="router-link-active" >
                <mat-icon matListItemIcon>{{option.icon}}</mat-icon>
                <div matListItemLine>{{option.name}}</div>
            </mat-list-item>
        }
    }
  </mat-list>