
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

$ga-yellow: (
  50 : #edeaf4,
  100 : #d1cae5,
  200 : #b3a7d3,
  300 : #9583c1,
  400 : #7e69b4,
  500 : #674ea7,
  600 : #5f479f,
  700 : #543d96,
  800 : #4a358c,
  900 : #39257c,
  A100 : #cbbdff,
  A200 : #a28aff,
  A400 : #7a57ff,
  A700 : #663dff,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #000000,
      400 : #ffffff,
      500 : #ffffff,
      600 : #ffffff,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #000000,
      A200 : #000000,
      A400 : #ffffff,
      A700 : #ffffff,
  )
);

$ga-blue: (
  50 : #edeaf4,
  100 : #d1cae5,
  200 : #b3a7d3,
  300 : #9583c1,
  400 : #7e69b4,
  500 : #674ea7,
  600 : #5f479f,
  700 : #543d96,
  800 : #4a358c,
  900 : #39257c,
  A100 : #cbbdff,
  A200 : #a28aff,
  A400 : #7a57ff,
  A700 : #663dff,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #000000,
      400 : #ffffff,
      500 : #ffffff,
      600 : #ffffff,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #000000,
      A200 : #000000,
      A400 : #ffffff,
      A700 : #ffffff,
  )
);
$ga-red: (
    50 : #f9e0e0,
    100 : #f0b3b3,
    200 : #e68080,
    300 : #db4d4d,
    400 : #d42626,
    500 : #cc0000,
    600 : #c70000,
    700 : #c00000,
    800 : #b90000,
    900 : #ad0000,
    A100 : #ffd7d7,
    A200 : #ffa4a4,
    A400 : #ff7171,
    A700 : #ff5858,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$ga-test: (
  50 : #fff9ef,
  100 : #ffefd6,
  200 : #ffe5bb,
  300 : #ffdba0,
  400 : #ffd38b,
  500 : #ffcb77,
  600 : #ffc66f,
  700 : #ffbe64,
  800 : #ffb85a,
  900 : #ffac47,
  A100 : #ffffff,
  A200 : #ffffff,
  A400 : #fff7ee,
  A700 : #ffebd4,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #000000,
      400 : #000000,
      500 : #000000,
      600 : #000000,
      700 : #000000,
      800 : #000000,
      900 : #000000,
      A100 : #000000,
      A200 : #000000,
      A400 : #000000,
      A700 : #000000,
  )
);


$ga-palette-primary:  mat.m2-define-palette($ga-yellow);
$ga-palette-accent:   mat.m2-define-palette($ga-blue);
$ga-palette-warn:   mat.m2-define-palette($ga-red);
$ga-palette-tertiary:   mat.m2-define-palette($ga-test);

// Define the theme object.
$ga-theme:  mat.m2-define-light-theme((
  color : (
  primary:$ga-palette-tertiary,
  accent:$ga-palette-accent,
  warn: $ga-palette-warn,
  )));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
:root {
  @include mat.all-component-themes($ga-theme);
}

// Comment out the line below if you want to use the pre-defined typography utility classes.
// For more information: https://material.angular.io/guide/typography#using-typography-styles-in-your-application.
// @include mat.typography-hierarchy($GuidesApp-theme);

// Comment out the line below if you want to use the deprecated `color` inputs.
// @include mat.color-variants-backwards-compatibility($GuidesApp-theme);
/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


//18!!!
//styles.scss
// @use 'sass:map';
// @use '@angular/material' as mat;
// @use '@angular/material-experimental' as matx;

// @include mat.core();

// $m3-base-config: (
// color: (
// // Start of copying the $cyan-palette into PRIMARY color config
//   primary: (
//     0: #000000,
//     10: #002020,
//     20: #003737,
//     25: #004343,
//     30: #004f4f,
//     35: #005c5c,
//     40: #006a6a,
//     50: #008585,
//     60: #00a1a1,
//     70: #00bebe,
//     80: #00dddd,
//     90: #00fbfb,
//     95: #adfffe,
//     98: #e2fffe,
//     99: #f1fffe,
//     100: #ffffff
//   ),
//   secondary: ( // The pattern follows 
//     50 : #fff9ef,
//     100 : #ffefd6,
//     200 : #ffe5bb,
//     300 : #ffdba0,
//     400 : #ffd38b,
//     500 : #ffcb77,
//     600 : #ffc66f,
//     700 : #ffbe64,
//     800 : #ffb85a,
//     900 : #ffac47,
//     A100 : #ffffff,
//     A200 : #ffffff,
//     A400 : #fff7ee,
//     A700 : #ffebd4,
//   ),
  
// ),
// )

// //Using matx the new api for defining a M3 Theme
// $angular-material-3-theme: matx.define-theme(
  
//    map.set($m3-base-config, color, theme-type, light)
// );

// $angular-material-3-theme-dark: matx.define-theme(
//    map.set($m3-base-config, color, theme-type, dark)
// );

// html,
// body {
//   height: 100%;
//   margin: 0;
//   // Apply the theme for all components. Matx is only for theme
//   // @mat.core() still the API for applying the styles
//   @include mat.all-component-themes(theme.$angular-material-3-theme);
// }